/* Desktop styles */

@media (min-width: 769px) {
    /* Nav Bar Style */
    #img1 {
        display: none;
    }
    .navBar {
        justify-content: space-between;
    }
    .navigation {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .navigation a {
        margin: 0 10px;
        padding: 20px 0;
    }
    .navigation a:hover {
        border-bottom: 2px solid white;
    }
    /* Head Style */
    h1 {
        font-size: 50px;
        line-height: 5rem;
    }
    h3 {
        font-size: 30px;
        padding: 20px 10px;
        line-height: 3rem;
    }
    .head {
        height: 600px;
        justify-content: center;
    }
    .head>div {
        display: flex;
        box-sizing: inherit;
        border: 6px solid white;
        width: 800px;
        align-self: center;
    }
    .head>div>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .head h3 {
        margin-bottom: 20px;
        border-bottom: 1px dashed white;
    }
    .head-s-section {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        height: 200px;
    }
    /*Features part style */
    .feature {
        width: 300px;
    }
    /* cool part Style */
    .coolLook {
        margin-left: 35px;
    }
    /* image part style */
    .imgSection {
        align-items: center;
    }
    .imgSection-row {
        display: flex;
        justify-content: center;
    }
    .containImg {
        width: 100%;
    }
    .containImg img {
        width: 100%;
    }
    /* Footer nav style */
    footer {
        justify-content: space-around;
    }
    footer div>ul>li {
        min-height: 2rem;
        align-self: center;
    }
}