/* Mobile styles */
@media (max-width: 768px) {

    .mobile-nav > img{
        position: relative;
        display: block;
        margin: 10px;  
    }

    .mobile-nav > img:hover {
        cursor: pointer;
        display: block;
    }

    .desktop-nav > ul li:hover{
        background-color: thistle;
    }

    .head div{
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        padding: 5px;
    }


    .features{
        flex-direction: column;
        align-items: center;
    }

    .feature{
        width: 40%;
    }



    footer{
        flex-flow: column;
        
    }
    
    footer div> ul> li {
        min-height: 1.5rem;
    }
    footer div> ul> li:last-child{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

}