@import 'css-reset.css';

*,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --border-radius: 4px;
    --content-width: 1200px;
    --color-dark-gray: #3a3633;
    --color-med-gray: #a6a6a6;
}

/* MOBILE */

@media (max-width: 768px) {

    /* NAV BAR */

    nav {
        background-color: var(--color-dark-gray);
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .mobileNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        position: relative;
    }

    .logo {
        width: 10vw;
    }

    .hamburger {
        background-color: transparent;
        width: 15vw;
        border: none;
    }

    .menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-dark-gray);
    }

    .menuItems {    
        font-size: 20px;
        padding: 10px;
        text-align: center;

    }
    .menuItems > a{
        color: white;
        text-decoration: none;
    }

    .hamburger:hover ~ .menu, .menu:hover{
        display: block;
        z-index: 2;
    }

    /*FIRST SECTION*/

    .section1 {
        position: relative;
        height: 420px;
    }
    .section1Img {
        width: 100%;
        height: 100%;
    }

    .wholeIntro {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        color: white;
    }

    .introH1 {
        font-weight: bold;
        font-size: 1.5em;
        padding: 60px 0 30px 10px;
    }

    .introH2 {
        font-weight: bold;
        font-size: 1.3em;
        padding-bottom: 8px;
    }

    .intro {   
        background-color: rgba(0,0,0,0.3);
        padding: 15px 0 15px 10px;
        width: 100%;
        font-size: 1em;
    }

    /* SECTION 2 */

    .section2 {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }


    .featureBox {
        box-shadow: 0 0 1px;
        width: 57%;
        align-self: center;
        text-align: center;
        margin: 15px 0;
    }

    .featureImg {
        margin: 20px;
        width: 6vw;
    }

    .featureH2 {
        margin-bottom: 30px;
        font-weight: bold;
    }

    .featureP {
        padding: 0 24px;
        color: var(--color-med-gray);
        font-size: 0.9em;
        line-height: 20px;
    }

    .featureBtn {
        font-size: 1em;
        margin: 30px 0;
        width: 90%;
        height: 40px;
        border-radius: var(--border-radius);
        background-color: var(--color-dark-gray);
        color: white;
        border: none;
        cursor: pointer;
    }

    .featureBtn:focus {
        outline: none;
    }

    /* SECTION 3 */

    .section3 {
        position: relative;
    }

    .s3 {
        color: white;
    }

    .coolH1 {
        font-weight: bold;
        font-size: 2em;
        padding-top: 80px;
    }

    .coolP {
        padding-top: 40px;
        padding-right: 150px;
        line-height: 25px;
    }

    
    .coolText {
        background-color: var(--color-dark-gray);
        height: 300px;
        padding-left: 15px;
    }

    .gradient {
        background-color: skyblue;
        height: 300px;
        text-align: right;
        padding-right: 15px;
    }

    .gradientH1 {
        font-weight: bold;
        font-size: 2em;
        padding-top: 80px;
    }

    .gradientP {
        padding-top: 40px;
    }

    .centerCool{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .centerCool .text {
        border: white 6px solid;
        background-color: var(--color-dark-gray);
        text-align: center;
        padding: 30px 0 25px 0;
        /* width: 50%; */
        width: 220px;
        align-self: center;
        /* How to center this properly? (TOP) */
    }

    .centerCoolH2 {
        color: darkred;
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: 15px;
    }

    .centerCoolP {
        font-size: 0.8em;
    }

    /* IMAGE SECTION */

    .section4Div {
        position: relative;
        margin: -3px 0;
    }

    .section4Img {
        width: 100%;
    }
    .section4P {
        color: white;
        text-shadow: 1px 1.1px var(--color-med-gray);
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        align-items: center;
        justify-content: center;
    }
}


/* DESKTOP VIEW */

@media (min-width: 900px) {
        /* NAV BAR */

        nav {
            background-color: var(--color-dark-gray);
            width: 100%;
            height: auto;
            /* position: fixed;
            z-index: 3; */
        }
    
        .mobileNav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    
        .logo {
            width: 4vw;
        }
    
        .hamburger {
            display: none;
        }
    
        .menu{
            display: block;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--color-dark-gray);
            display: flex;
        }
    
        .menuItems {    
            font-size: 20px;
            padding: 10px 50px;
            text-align: center;
    
        }
        .menuItems > a{
            color: white;
            text-decoration: none;
            font-size: 1.4vw;
        }

        /*FIRST SECTION*/

    .section1 {
        position: relative;
    }
    .section1Img {
        width: 100%;
    }

    .wholeIntro {
        color: white;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        border: white solid 6px;
        margin: 16% 16%;
    }

    .introH1 {
        font-weight: bold;
        font-size: 4vw;
        text-align: start;
        padding: 0 15px;
    }

    .intro {   
        background-color: rgba(0,0,0,0.3);
        width: 100vw;
        height: 100%;
        font-size: 1em;
        padding: 0 15px;
    }

    .introH2 {
        font-weight: bold;
        font-size: 3vw;
        padding: 30px 0;
    }

    .introP {
        display: flex;
        font-size: 1vw;
        border-top: white dotted 1px;
    }
    .introP > p {
        /* border: red solid 1px; */
        line-height: 130%;
        padding-top: 10%;
    }

    /* SECTION 2 */

    .section2 {
        display: flex;
        flex-direction: row;
        padding: 40px 100px;
    }


    .featureBox {
        box-shadow: 0 0 1px;
        width: calc(100% / 3);
        align-self: center;
        text-align: center;
        margin: 0 10px;
    }

    .featureImg {
        margin: 20px;
        /* width: 30px; */
        width: 3vw;
    }

    .featureH2 {
        margin-bottom: 30px;
        font-weight: bold;
    }

    .featureP {
        padding: 0 24px;
        color: var(--color-med-gray);
        font-size: 0.9em;
        line-height: 20px;
    }

    .featureBtn {
        font-size: 1em;
        margin: 30px 0;
        width: 90%;
        height: 40px;
        border-radius: var(--border-radius);
        background-color: var(--color-dark-gray);
        color: white;
        border: none;
        cursor: pointer;
    }

    .featureBtn:focus {
        outline: none;
    }

    /* SECTION 3 */

    .section3 {
        position: relative;
    }

    .s3 {
        color: white;
    }

    .coolH1 {
        font-weight: bold;
        font-size: 2em;
        padding-top: 80px;
    }

    .coolP {
        padding-top: 40px;
        padding-right: 150px;
        line-height: 25px;
    }

    
    .coolText {
        background-color: var(--color-dark-gray);
        height: 500px;
        padding-left: 15px;
    }

    .gradient {
        background-color: skyblue;
        height: 500px;
        text-align: right;
        padding-right: 15px;
    }

    .gradientH1 {
        font-weight: bold;
        font-size: 2em;
        padding-top: 80px;
    }

    .gradientP {
        padding-top: 40px;
    }

    .centerCool{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        margin-left: 3%;
    }
    .centerCool .text {
        border: white 6px solid;
        background-color: var(--color-dark-gray);
        text-align: center;
        padding: 30px 0 25px 0;
        /* width: 50%; */
        width: 220px;
        align-self: center;
        /* How to center this properly? (TOP) */
    }

    .centerCoolH2 {
        color: darkred;
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: 15px;
    }

    .centerCoolP {
        font-size: 0.8em;
    }

    /* IMAGE SECTION */

    .section4 {
        display: flex;
        flex-wrap: wrap;

    }

    .section4Img {
        width: 100%;
        height: 100%;
    }

    .section4P {
        color: white;
        text-shadow: 1px 1.1px var(--color-med-gray);
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        align-items: center;
        justify-content: center;
    }

    .section4Div {
        box-sizing: border-box;
        width: calc(100%/3);
        position: relative;
    }

}